* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: rgb(149, 35, 255);
    background-image: url("../img/bg-pattern.jpg");
    min-width: 1000px ;
}

.hidden {
    display: none;
}

.main_container {
    width: 50%;
    height: 80vh;
    margin: 5% auto 0 auto;
    background-color: white;
    border: 1px solid white;
    padding: 40px;
    border-radius: 6px;
    border: 6px solid black;
    box-shadow:  rgb(5, 5, 5) -3px 6px 2px 2px;
    background-image: url("../img/container-pattern.png");
}

.main_container img {
    display: block;
    margin: 0 auto;
}

/* first page */

#user_page {
    display:flex;
    flex-flow: column;
    align-items: center;
}

#user_page > input[type=text] {
    margin: 100px auto;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-size: 44px;
    color: whitesmoke;
    border-radius: 15px ;
    border: 6px solid black;
    box-shadow:  rgb(5, 5, 5) -3px 3px 0px 0px;
    background-color: rgb(163, 99, 223);
    outline: none;
}

#user_page > input[type=text]::placeholder {
    color: whitesmoke;
}

#user_page > input[type=text]:focus{
    border-radius: 15px ;
    outline: none;
}

.nextBtn, #dificulty_page select{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    margin-top: 50px;
    cursor: pointer;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    background-color: rgb(168, 79, 252);
    border: 6px solid black;
    box-shadow:  rgb(37, 37, 37) -3px 3px 0px 0px;
    color: whitesmoke;
    outline: none;
}

.nextBtn:hover {
    color: whitesmoke;
    background-color: rgb(132, 0, 255);
    box-shadow: rgb(132, 0, 255);
    transition: 200ms;
}

#category_page {
    margin-top: 10%;
    text-align: center;
}

#category_page input[data-category] {
    font-family: 'Balsamiq Sans', cursive;
    width: 200px;
    height: 45px;
    margin-right: 5%;
    margin-bottom: 3%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(44, 44, 44);
    border: 6px solid black;
    box-shadow: rgb(37, 37, 37) -3px 3px 0px 0px;
    cursor: pointer;
    outline: none;
}

#category_page input[data-category]:hover {
    color: white;
    filter: saturate(350%);
    font-weight: bold;
    transition: 300ms;
    animation:icon-move 1000ms infinite;
}

@keyframes icon-move {
    0% {}
    50% {background-position: 15px center;}
    100% {}
}

#category_page input[data-category="9"] {
    background-image: url("../img/general.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: left center;
    background-color: rgb(252, 49, 63);
}

#category_page input[data-category="11"] {
    background-image: url("../img/film.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: left center;
    background-color: rgb(256,203,0);
}

#category_page input[data-category="12"] {
    background-image: url("../img/music.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(134, 148, 255);
}

#category_page input[data-category="15"] {
    background-image: url("../img/game.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: left center;
    background-color: rgb(96, 210, 255);
}

#category_page input[data-category="20"] {
    background-image: url("../img/mythology.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(255,137,0);
}

#category_page input[data-category="26"] {
    background-image: url("../img/celebrities.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(253, 71, 147);
}

#category_page input[data-category="27"] {
    background-image: url("../img/animals.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(0,232,77);
}

#category_page input[data-category="29"] {
    background-image: url("../img/comics.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(122, 248, 179);
}

#category_page input[data-category=""] {
    background-image: url("../img/all.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    background-color: rgb(158, 158, 158);
}

.category-selected {
    box-shadow:  rgb(132, 0, 255) -4px 4px 0px 0px !important;
    animation:icon-move 1000ms infinite;
}

.border-error {
    border: 6px solid red !important;
    box-shadow:  red -3px 3px 0px 0px !important;
}

.error-msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    margin: 16px 0;
    font-weight: bod;
}

/* Question page */

#question_page {
    margin-top: 3%;
    padding: 0px 40px;
}

#question_page h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgb(168, 74, 255);
    padding: 15px 20px;
    border-radius: 6px;
    color: whitesmoke;
    line-height: 2.3rem;
    border: 3px solid black;
    box-shadow:  rgb(37, 37, 37) -3px 3px 0px 0px;
}

#question_page ul {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#question_page li {
    display: inline-block;
    margin-bottom: 2%;
    padding: 10px 0px;
    background-color: rgb(168, 74, 255);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    border-radius: 6px;
    border: 3px solid black;
    box-shadow:  rgb(37, 37, 37) -3px 3px 0px 0px;
    cursor: pointer;
}

#question_page li:hover {
    box-shadow:  rgb(168, 74, 255) -4px 4px 0px 1px;
    filter: saturate(150%);
    transition: 400ms;
}

.option {
    height: 100%;
    padding: 10px 30px;
    background-color: rgb(199, 97, 247);
}

.alternative {
    padding: 0 20px;
}

#lifes {
    float: right;
    font-size: 22px;
}

#countdown {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

/* select dificultty style */

#dificulty_page >*{
    display: block;
    margin: 20px auto;
}
#dificulty_page select{
    margin: 100px auto;
}

/* game over style */

#gameover_page h1, #player_score{
    font-family: 'Balsamiq Sans', cursive;
    width: 100%;
    margin: 25px 0;
    text-align: center;
}
#gameover_page h1, #gameover_page h2{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 40px;
}
#player_score{
    font-size: 25px;
}

#btn_tryAgain{
    float: right;
}

table {
    font-family: 'Balsamiq Sans', cursive;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    margin: 50px auto;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(168, 79, 252);
    color: white;
}